@forward "../../../../packages/ui-next-preline/src/styles/main.scss";

body{overflow: hidden; max-height: 100%}
.titlebar {
    // background-color: var(--color-card);
    @apply bg-neutral-800 text-neutral-300;
    height: var(--titlebar-h);
    // background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    // gap: 8px;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 14.5px;
    z-index: 50;
    ._title{text-align: center}
}
.titlebar-button {
    @apply flex items-center justify-center rounded-full tu-menu-item-min;
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}
.titlebar-button:hover {
    background: var(--color-base-300);
}

#root{
    &.fullscreen{
        z-index: 55;
    }
}