
.titlebar {
    background-color: var(--color-base-200);
    height: 30px;
    // background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    gap: 3px;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px
  }
  .titlebar-button {
    @apply flex items-center justify-center;
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  .titlebar-button:hover {
    background: var(--color-card-2);
  }
.vid-card{
   
    height: 150px;
   width: 100%;
    h4{
        overflow: hidden;
        white-space: wrap;
        --webkit-whitespace: wrap;
        text-overflow: ellipsis
    }

    
}

.vid-card-cont{
     flex-shrink: 0;
     flex-grow: 0; width: 200px;
     transition: transform .1s linear;
     cursor: pointer;
     &:hover{
        transform: scale(1.05);
        opacity: .7;
     }

     &.active{
        ._title{
            color: var(--color-accent)
        }
     }
}

#video-cont{
    // @apply /* bg-card */ rounded-md flex items-center justify-center flex-col p-2;
    .vjs-fluid{padding-top: 0 !important}
    video-js{
        height: 100%
    }
    video{
        @apply rounded-md;
        width: 100%;
        height: 100%;
        background-color: black;
    }
}