@for $i from 1 to 50{
    .br-#{$i} {
        border-radius: #{$i}px !important;
    }
}
@for $i from 1 through 300 {
    .my-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    .mx-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
    .mt-#{$i} {
      margin-top: #{$i}px !important;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}px !important;
    }
    .pdy-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
    .pdx-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
    .pdr-#{$i} {
      padding-right: #{$i}px !important;
    }
    .pdl-#{$i} {
      padding-left: #{$i}px !important;
    }
    .pdb-#{$i} {
      padding-bottom: #{$i}px !important;
    }
    .br-#{$i} { 
      border-radius: #{$i}px !important;
    }
    .pd-#{$i} { 
      padding: #{$i}px !important;
    }

    .h-#{$i}vh{
      height: #{$i}vh !important;
    }

    .w-#{$i}vw{
      width: #{$i}vw !important;
    }
  }