@import "./skeleton";
@import "./vars";
@import "./classes";
@import "./footer";
@import "./forms";
@import "@material-design-icons/font";

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

.navbar-brand {
    color: $color-orange !important;
    font-weight: bold;
}

.fmc {
    width: 150px;
    height: 207px;
}

@media screen and (max-width: 580px) {
    .row {
        &.mc {
            .movie-card-container {
                width: 150px !important;
                //height: 255px;
                .img {
                    //height: 170px !important;
                }
            }
        }
    }
}

.no-wrap {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.movie-card {
    border: $card-border;
    box-shadow: 0 2px 5px #000;
    margin: 20px 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4px;
    border-radius: 4px;
    p {
        font-size: 0.9rem !important;
        * {
            font-size: 0.9rem !important;
        }
    }
    .info {
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.811);
        opacity: 0;
        &:hover {
            opacity: 1;
        }
        * {
            color: white;
        }
        .playBtn {
            font-size: 40px;
            color: rgb(209, 209, 209);
        }
    }
}

.btn-none {
    border: none;
    background: none;
    color: $color-white-2;
    border-radius: 5px;
    outline: none;
    &:focus{
        outline: 0;
       box-shadow:  0 0 0 .2rem rgba(24, 24, 24, 0.699)//rgba(0,123,255,.5)
    }
    cursor: pointer;
    &:hover {
        opacity: 0.7 !important;
    }
}

.nav-link {
    color: $color-white-2;
    &:hover {
        color: $color-white-3;
    }
}

.dflex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.loading-div {
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
.__nuxt-error-page {
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
        display: none;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        display: none; 
    }
    background-color: $color-card !important;
    color: $color-white-1 !important;

    * {
        font-family: Poppins, "Arial";
        transition: 0.1s linear;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            //background-color: #6666;
            height: 2px !important;
            width: 2px !important;
        }
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            //background-color: #6666;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-orange;
        }
    }
}

.sidenav {
    z-index: 99999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: $sidenav-w; 
    height: calc(100vh);
    position: relative;
    background-color: $color-card;//$color-card; //rgb(6, 6, 6);
    border-right: $card-border;
    border-top: $card-border;
    padding: 10px;
    top: 28px;

    .nav-item{
        font-size: 25px;
       margin: 10px 0;
        &:not(.mi){font-weight: 600 !important;}
        &.mi{
            i{
                font-weight: 500;
                font-size: 30px;
            }
        }
        &:not(.active){
             color: $color-white-3 !important;
        }
    }
    .nav {
        //margin-top: 10vh;
        flex-direction: column;
    }
}

._main {
    //margin-left: calc(60px);
    //margin-right: 52px !important;
    
    margin-top: 32px;
    align-items: start;
    //background-color: #0e76a8;
    max-height: calc(100vh - 56px) !important;
    overflow: hidden !important;
}
main{
    padding: 0 15px;
    overflow-y: scroll !important;
    max-height: calc(100vh - 58px);
    flex: 1;
}

@media screen and (max-width: 500px) {

    .progress,
    .inProgress {
        width: 100vw !important;
        height: 5px !important;
        left: 0 !important;
        bottom: $sidenav-w !important;
        top: unset !important;
    }
    .sidenav {
        position: fixed;
        width: 100% !important;
        height: $sidenav-w !important;
        bottom: -2px !important;
        top: unset !important;
        align-items: center !important;
        .nav {
            flex-direction: row;
            justify-content: space-evenly !important;
            width: 100%;
            margin-top: 0 !important;
        }
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: $card-border;
    //margin-top: 20px;
    .nav-item {
        margin: 0 1.2rem;
    }
     z-index: 99998;
    //background-color: rgb(6, 6, 6);
    nav {
        //margin: 0 7px;
        padding: 0 10px;
        z-index: 99998;
        background-color: $color-card;
       
    }
}
.title-cont{
    height: 40;
    width: 50vw;
    padding: 5px;
    text-align: center;
    background-color: $color-body;
    border-top: 4px solid $color-card;
    border-left: 4px solid $color-card;
    border-right: 4px solid $color-card;
    //transform: skewX(20deg);
    transform: perspective(100px) rotateX(20deg);
    -webkit-transform: perspective(100px) rotateX(20deg);
    margin: 0 auto;

}
.video-frame {
    height: 60vh;
    margin-top: 0px;
    background-color: $color-card;
    box-shadow: 0 1px 5px $color-card;

    
    iframe {
        background-color: $color-card;
        //width: 70%;
        padding: 5px;
        height: 100%;
    }
}

.body {
    min-height: 80vh;
    //padding: 0 10vw
}



#navbarNav {
    flex: 1;
    ul {
        width: 100%;
    }
}

.navbar-toggler {
    font-size: 18px;
    border-color: rgb(15, 23, 36) !important;
}

.navbar-nav {
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.auth-btn {
    border: 2.5px solid $color-black;
    padding: 3px 20px !important;
}

.home-search-form {
    input {
        border-radius: 30px;
        padding: 10px;
    }
}

.search-form {
    position: relative;
    color: $color-white-2;
    * {
        color: $color-white-2 !important;
    }
    width: 100%;
    .search {
        width: 100%;
        border-radius: 4px;
        padding: 4px;
        padding-right: 25px;
        background-color: #434549;
        border-color: #1e1e1e;
    }
    .search-icon {
        position: relative;
        right: 35px;
        color: rgb(6, 6, 6);
        font-size: 18px;
        //top: 4px;
    }
}

.jc-sa {
    justify-content: space-around;
}

.jc-sb {
    justify-content: space-between;
}

section {
    margin: 35px auto;
}

.btn {
    color: rgb(197, 197, 197);
}

ul {
    list-style: none;
    padding-left: 0;
}

.rating {
    color: $color-orange;
}

.button {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 14px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.button:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: none;
}

.button span.icon {
    //position: absolute;
    left: 0;
    //padding: 0 4px;
    text-align: center;
    //width: 50px;
    font-size: 18px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}

.button.twitter {
    background: #00acee !important;
}

.button.facebook {
    background: #3b5998 !important;
}

.button.google-plus {
    background: #db4a39 !important;
}

.button.linkedin {
    background: #0e76a8 !important;
}

.button.youtube {
    background: #c4302b !important;
}

.button.github {
    background: #171515 !important;
}

.button.android {
    background: #a4c639 !important;
}

.button.skype {
    background: #00aff0 !important;
}

.button.dropbox {
    background: #3d9ae8 !important;
}

.button.foursquare {
    background: #25a0ca !important;
}

.button.apple {
    background: #cdcdcd !important;
}

.button.dribbble {
    background: #ea4c89 !important;
}

.button.instagram {
    background: #3f729b !important;
}

.button.pinterest {
    background: #c8232c !important;
}

.button.stackexchange {
    background: #ef8236 !important;
}

.button.flickr {
    background: #ff0084 !important;
}

.text-center {
    text-align: center;
}

.mr-2 {
    margin-right: 0.5rem;
}

.card {
    background-color: transparent;
}

.btn {
    white-space: nowrap !important;
}

.pointer {
    cursor: pointer;
}
.border-card{
    border: $card-border !important;
}
.border-body{
    border: $color-body !important;
}
.border-dlg{
    border: 2px solid $dlg-border-color !important
}

.sandes, .tu-card {
    background-color: $color-card ;//#1e1e1e;
    border: $card-border;
}

a,
a * {
    &:hover,
    &:visited,
    &:focus {
        opacity: 0.7;
    }
    &.link {
        color: $color-orange;
        &:hover,
        &:visited,
        &:focus {
            opacity: 0.7;
        }
    }
    &:not(.link) {
        color: inherit;
    }
    text-decoration: none;
    &:hover {
        color: $color-orange !important;
    }
}

.search-results {
    min-width: 200px;
    min-height: 200px;
    background-color: $color-gray-1;
    position: absolute;
    top: 40px;
    z-index: 88888;
    left: -10px;
    border-radius: 5px;
    a {
        padding: 4px;
        margin-bottom: 5px;
        border: 2px solid #434549;
        border-radius: 4px;
        a {
            width: 100%;
        }
    }
    display: none;
}

.css-7pg0cj-a11yText {
    display: none !important;
}

@for $i from 0 through 60 {
    .fs-#{$i} {
        font-size: #{$i}px;
    }
    .gap-#{$i} {
        gap: #{$i}px;
    }
}

@for $i from 10 through 1000 {
    .h-#{$i} {
        height: #{$i}px !important;
    }
    .w-#{$i} {
        width: #{$i}px !important;
    }
    .max-h#{$i} {
        max-height: #{$i}px !important;
    }
    .max-w#{$i} {
        max-width: #{$i}px !important;
    }
    .h-#{$i}p {
        height: #{$i}#{"%"} !important;
    }
    .w-#{$i}p {
        width: #{$i}#{"%"} !important;
    }
    .mv-#{$i} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
    }
    .mh-#{$i} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
    }
}

.mcard-img {
    width: 100%;
    height: 270px;
    background-color: #1e1e1e;
    *,
    img {
        width: 100%;
        height: 100% !important;
    }
}

.search-res {
    img {
        width: 90px !important;
        height: 90px !important;
        border-radius: 5px;
    }
}

.ttl {
    font-weight: 600;
}

.search-bar {
    position: fixed;
    //width: calc(100% - #{$sidenav-w}*2);
    padding: 30px;
    border-radius: 4px;
    // height: 300px;
    background-color: rgba(0, 0, 0, 0.876);
    top: 0;
    left: 0; //calc(50% + #{$sidenav-w}/2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    //transform: translate(-50%, -50%);
    z-index: 999;
    .form-group {
        position: relative;
        left: 10px;
    }
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000008d;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.search-bar {
    z-index: 999999;
    .sch {
        box-shadow: 0 1px 5px #000000;
        background-color: $color-card;
        padding: 30px 0px 30px 30px !important;
    }
    display: none;
    &.active {
        display: flex;
    }
}

.blur {
    display: none;
    &.active {
        display: block;
    }
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.soon {
    z-index: 99999999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

.card-placeholder {
    background-color: $color-gray-1;
    //width: 30%;
    height: 300px;
    position: relative;
    .img {
        width: 100%;
        height: 100%;
        //background-color: green;
        position: absolute;
    }
    .card-info {
        background-color: $color-gray-1;
        height: 80px;
        width: 100%;
        z-index: 99;
        position: absolute;
        bottom: 0;
    }
}

.skel {
    // background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    animation: 1.5s shine linear infinite;
    //width: 30px;
    padding: 0 2px;
    white-space: nowrap;
    color: transparent;
    user-select: none;
    .skel-text {
        border-radius: 5px;
        background-image: linear-gradient( 120deg, rgb(30, 38, 51) 8%, rgb(20, 28, 41) 18%, rgb(15, 23, 36) 33%);
        animation: 1.5s shine linear infinite;
        background-size: 200% 100%;
        height: 10px;
        text-indent: -9999px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.react-3d-carousel .slider-container {
    width: 100% !important;
    left: 40% !important;
}

.form-sec {
    background-color: #0a0a0a;
    padding: 2vw;
}

.home-form {
    // /padding: 1vw;
    input {
        &:focus {
            background-color: $color-card !important;
        }
        &:active {
            background-color: $color-card !important;
        }
        border-radius: 5px;
        padding: 7px;
        padding-left: 55px;
        //background-color: $color-gray-1;
        color: $color-white-2 !important;
        border: 3px solid $color-gray-1;
        //box-shadow: 0 1px 3px $color-blue;
    }
}

.native-banner {
    //min-width: 200px;
    //min-height: 200px;
    //border: 4px solid rgba(128, 128, 128, 0.259);
    margin: 0 auto;
}


.search-btn {
    color: $color-white-2;
    position: relative;
    &.left {
        left: 15px;
    }
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.bg-blue-2 {
    background-color: $color-card !important;
}
.bg-body {
    background-color: $color-body !important;
}
.bg-dlg{
    background-color: $dlg-bg-color !important;
}


.bg-card {
    background-color: $color-card !important;
}

.bg-card2 {
    background-color: $color-card2 !important;
}

.bg-white:not(.antialiased) {
    background-color: white !important;
}
.bg-orange {
    background-color: $color-orange;
    color: white !important;
}
.bg-dark-0 {
    background-color: $color-dark-0;
    color: white !important;
}

.antialiased {
    background-color: rgba(0, 0, 0, 1) !important
}

footer {
    background-color: $color-card;
}

span {
    position: relative !important;
    height: 100% !important;
}

img {
    width: 100%;
    height: 100% !important;
    position: relative !important;
}

.d-flex-md {
    display: flex;
    gap: 0 10px;
    //align-items: center;
}

@media screen and (max-width: 1110px) {
    .d-flex-md {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    img {
        min-width: 0 !important;
        min-height: 0 !important;
        //width: 300px !important;
    }
}

.section {
    border-radius: 6px;
    padding: 15px;
}

.p-btn {
    &.active {
        color: $color-orange !important;
    }
}

.oh {
    overflow: hidden !important;
    //white-space: nowrap;
    text-overflow: ellipsis;
}

.os {
    overflow-x: scroll !important;
    &.h {
        overflow-y: scroll !important;
    }
}

.rls {
    //position: fixed ;
    top: 0;
}

.fshr-0 {
    flex-shrink: 0 !important;
}

.w-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.color-orange {
    color: $color-orange !important;
}

.color-yellow {
    color: $color-yellow;
}

.color-white {
    color: white !important;
}

.color-black {
    color: black !important;
}


.plot {
    text-align: justify;
}

.title {
    font-weight: 600; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    margin-bottom: 0;
}

$sidemanu-w: 50vw;
.sidemenu {
    min-height: 200px;
    width: 100vw;
    background-color: $color-card;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999999;
    transform: translateY(100vh);
    padding: 20px;
    .navbar,
    .navbar-nav {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &.open {
        transform: translateY(0);
    }
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-link.active,
.router-link-active:not(.btn) {
    color: $color-orange !important;
}

.menu-modal {
    min-width: 250px;
    right: 7px !important;
}

@media screen and (max-width: 990px) {
    .genres {
        left: -4vw !important;
        right: unset !important;
        bottom: 0px !important;
        top: unset !important;
    }
}

@media screen and (max-width: 500px) {
    .genres {
        width: calc(100vw - 40px) !important;
    }
}

.genres {
    padding: 15px;
    max-height: 300px !important;
    overflow-y: scroll;
    h3 {
        padding: 0px 5px;
        font-weight: 700;
    }
    section {
        margin: 0 !important;
    }
}

.menu-modal,
.genres {
    i {
        margin-right: 4px;
    }
    position: absolute;
    min-height: 20px;
    background-color: $dlg-bg-color;
    border: 2px solid $dlg-border-color;
    right: 0;
    top: 30px;
    border-radius: 2px;
    box-shadow: 0 2px 15px black;
    display: none;
    padding: 5px;
    ul {
        margin: 0 !important;
    }
    li {
        padding: 0px 5px !important;
        background-color: #11111100;
        &:hover{
            background-color: #00000046;
        }
        margin: 4px;
        border-radius: 4px;
        
        *{
            color: $color-white-1 !important;
        }
    }
    &.active {
        display: block !important;
    }
}

.genres {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    width: 400px;
}

.color-white-2 {
    color: $color-white-2 !important;
}

.tb-link {
    color: green !important;
    &:hover {
        opacity: 0.6;
    }
}

.err {
    color: red !important;
    text-align: center;
}

.Addon {
    border: none !important;
    background: transparent !important;
    position: relative;
    /* left: -30px; */
    color: rgba(255, 255, 255, 0.514);
    float: right;
    top: -30px;
    cursor: pointer;
    &:hover {
        //color: $color-gray-3;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.avatar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 32px;
    padding: 0;
    border: 2px solid grey;
    border-radius: 50%;
    button {
        font-size: 20px;
        font-weight: 600;
    }
}



.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.movie-card .d-flex a {
    width: calc(100% - 20px);
}

.progress,
.inProgress {
    position: fixed;
    width: 100vh;
    left: $sidenav-w;
    top: 0px;
    height: 100vh;
    width: 5px;
    padding: 1.4px;
    background-image: url("/assets/images/progress.gif");
    background-position: top left;
    background-repeat: repeat;
    background-size: 9px 9px !important;
    animation: blinkey 0.9s infinite ease-in-out;
    z-index: 9999;
    display: none;
    //transform: rotate(90deg);
}

@keyframes blinkey {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
}

.new {
    position: absolute;
    background-color: $color-orange;
    width: 18px;
    height: 18px;
    border-radius: calc(50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    top: 5px;
    right: 0;
}

.glowing {
    animation: glowing 1300ms infinite;
}

@keyframes glowing {
    0% {
        background-color: $color-orange;
        box-shadow: 0 0 5px $color-orange;
    }
    50% {
        background-color: #ff6a06;
        box-shadow: 0 0 20px #ff6a06;
    }
    100% {
        background-color: #ff6a06;
        box-shadow: 0 0 5px #ff6a06;
    }
}

.trailer-container,
.adblock {
    height: 100%;
    width: 100%;
    background-color: #000000bc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    &.active {
        display: flex !important;
    }
    button {
        position: absolute;
        top: -18px;
        right: -18px;
        color: $color-white-2;
    }
    .trailer {
        width: 560px;
        height: 300px;
        box-shadow: 0 1px 5px $color-card;
    }
}

@media screen and (max-width: 570px) {
    .trailer {
        width: calc(100% - 10px) !important;
        height: 40% !important;
    }
}

@media screen and (max-height: 410px) {
    .trailer {
        height: 70% !important;
    }
}

.splash {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99999999999;
    background-color: $color-card;
    .child {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.shop {
    margin: 0 auto;
    max-width: 900px;
    * {
        margin: 0 auto;
        //background-color: $color-card !important;
        color: $color-blue !important;
    }
}

.tbanner-cont {
    display: inline-flex;
    margin: 0 auto;
}

.tbanner {
    margin: 0 5px;
    width: 150px;
    height: 180px;
    background-color: white;
    * {
        color: black !important;
    }
    .desc {
        height: 55px;
        overflow-y: scroll;
    }
    .img {
        width: 110px;
        height: 110px;
    }
}

.tad-txt {
    top: 2px;
    left: 2px;
}

.ad-space {
    width: 250px;
    min-height: 300px;
    background-color: white;
}

.container-331a0c3ab2ba863abff2fd7c2a9feee5__img-container {
    //height: 150px;
}

.container-331a0c3ab2ba863abff2fd7c2a9feee5__img {
    //background-size: 150px !important;
}

.propeller-banner-frame {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#SC_TBlock_873969 {
    * {
        background-color: black !important;
    }
}

// Windows 10 inspired pure CSS switch by ChrisAwesome
// Variables
$golden-ratio: 1.618;
$checkbox-config: ( height: 1.3rem,
width: 2.3rem,
color: $color-blue,
color-active: #808b8d,
color-checked: $color-orange,
border: calc(1.3rem / 6.667),
breakpoint: 25rem,
transition: all 0.2s ease,
);
// Functions
@function check-config($key) {
    @return map-get($checkbox-config,
    $key);
}

@function power($x,
$n) {
    $ret: 1;
    @if $n>=0 {
        @for $i from 1 through $n {
            $ret: $ret * $x;
        }
    }
    @else {
        @for $i from $n to 0 {
            $ret: $ret / $x;
        }
    }
    @return $ret;
}

@function golden-ratio($value: 1,
$unit: false) {
    @return power($golden-ratio,
    $value) #{if($unit, $unit, "")};
}

// Mixins
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin bp($breakpoint: check-config(breakpoint),
$min-or-max: min) {
    @media screen and (#{$min-or-max}-width: $breakpoint) {
        @content;
    }
}

@mixin abs($top: 0,
$right: $top,
$bottom: $top,
$left: $top,
$z-index: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    @if $z-index !=null {
        z-index: $z-index;
    }
}

@mixin reset-space($border: false) {
    margin: 0;
    padding: 0;
    @if $border {
        border: 0;
    }
}

@mixin size($width: 100%,
$height: $width) {
    width: $width;
    height: $height;
}

// Placeholders
%hide-fake {
    @include size(0);
    @include abs(-9999px,
    -9999px,
    null,
    null);
    overflow: hidden;
}

// Resets
*,
*:after,
*:before {
    box-sizing: border-box;
}

// CHECKBOX STYLES
.checkbox-switch {
    @include clearfix;
    @include reset-space(true);
    //margin-bottom: $golden-ratio * 1.4rem;
    .checkbox-right {
        //float: right;
    }
    legend {
        @include reset-space;
        display: block;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: check-config(height);
        //margin-bottom: golden-ratio(1, rem);
        &.legend-left {
            margin: 0 #{$golden-ratio}rem 0 0;
            float: left;
        }
    }
    input[type="checkbox"] {
        @extend %hide-fake;
        &+label {
            user-select: none;
            line-height: check-config(height);
            &:before {
                width: check-config(width);
                height: check-config(height);
                font-family: Arial, sans-serif;
                display: inline-block;
                content: "•";
                transition: check-config(transition);
                text-align: left;
                font-size: 2.25rem;
                line-height: 1rem;
                float: left;
                overflow: hidden;
                color: check-config(color);
                border: check-config(border) solid check-config(color);
                border-radius: calc(check-config(height) / 2);
                margin: auto 0;
                @include bp {
                    margin-right: 0.5rem;
                }
            }
            // On / Off text
            &:after {
                display: none;
                @include bp {
                    content: check-config(text-off);
                    width: 1.75rem;
                    display: inline-block;
                }
            }
        }
        // Checked colors
        &:checked+label {
            &:before {
                border-color: check-config(color-checked);
                background: check-config(color-checked);
                text-align: right;
                color: white;
            }
            &:after {
                content: check-config(text-on);
            }
        }
        // Active colors
        &,
        &:checked {
            &+label:active:before {
                border-color: check-config(color-active);
                background: check-config(color-active);
                color: white;
            }
        }
    }
}

fieldset.mod {
    @include reset-space(true);
    padding: 1rem;
    legend {
        @include reset-space;
        font-size: 2rem;
        //margin-bottom: 1rem;
        font-weight: 300;
        display: block;
    }
}

a {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    transition: check-config(transition);
    &:hover {
        text-decoration: underline;
        color: check-config(color-checked);
    }
}

small.cretits {
    margin-top: golden-ratio(2, rem);
    display: block;
    font-size: 0.75rem;
    display: block;
    font-weight: 300;
    color: rgba(black, 0.8);
}

.centered-children {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none !important;
    &:hover {
        opacity: .6;
    }
}

._row{
    flex-direction: row !important;
    display: flex !important;
    align-items: center;
}

fieldset{
    border-radius: 10px; 
    &.fieldset{
        border-color: $color-card;
        border-width: 4px;
         padding: 20px;
         &:not(.no-el){box-shadow: 0px 1px 2px rgb(14, 14, 14);}
         legend{
             font-weight: bold !important;
             letter-spacing: 2px;
             width: auto;
             padding: 5px;
         }
     }
}


input.tu-inp{
    display:  block;
    outline: none;
    border: 2px solid $dlg-border-color !important;
    background-color: $dlg-bg-color !important;

    &:not(.custom-padding){
           padding: 4px 10px; 
    }

    width: 100%;
    &:focus, &:active{

box-shadow: 0 0 0 2px #43434388
    } 
}



.wlst-btn:disabled {
    color: rgb(99, 99, 99);
    text-shadow: 0 0px 10px orange;
    animation: 0.5s infinite blinky;
  }
  .blinky{
    animation: 3s infinite blinky;
  }
  @keyframes blinky {
    0% {
      text-shadow: 0 0px 10px orange;
      opacity: 0.7;
    }
    100% {
      text-shadow: 0 0px 10px rgba(255, 166, 0, 0.359);
      opacity: 0.5;
    }
  }

  button{
    font-weight: 500 !important;
  }