.job-card {
    
}
.tu-job-meta {
    ul {
        padding-left: 5x;
        font-size: 15px;
    }
    .deadline-info {
    font-size: 12px;
    font-weight: 600;
    @apply mt-2 text-secondary;
}
}

