.job-card {
    
}
.tu-job-meta {
    ul {
        padding-left: 5x;
        font-size: 13px;
    }
    .deadline-info {
    font-size: 12px;
    font-weight: 600;
    @apply mt-2 text-secondary;
}
}


#job-info{
    ul {
        padding-left: 25px;
        list-style: square;
    }
    .row {@apply gap-2}
    label{
        display: block;
    }
    *{
        line-height: 1.7em;
    }
    div:last-child{
        margin-bottom: 4px;
    }
}
