.v-hidden {
    visibility: hidden !important;
}
multiselect__tags {
    min-height: 0px !important;
    display: block;
   // padding: 8px 0px 0 8px;
    border-radius: 5px;
    background: black;
    font-size: 14px;
}
.multiselect {
    
    * {
        background-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
        color: var(--fallback-bc, oklch(var(--bc) / 1));
        border-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
        font-size: 14px;
    }
    ::placeholder{
        color: var(--fallback-bc, oklch(var(--bc) / 1));
    }
    //input{width: 100% !important;background-color: red !important;}
}
.multiselect__option{
 span{background: unset !important;}
}
.multiselect__option--selected.multiselect__option{
    background: var(--fallback-p, oklch(var(--p)/.4));
   
}

.multiselect__option--highlight{
    background: var(--fallback-p, oklch(var(--p)/.2)) !important;
}
ul.menu-menu li{
    padding: 0!important;
    margin: 0!important;
    align-self: flex-start;
    width: 100%;
    *{
        align-self: flex-start;
        width: 100%
    }
}

.menu {
    flex-wrap: nowrap;
    *{
        white-space: nowrap !important;
    }
}
tr td {
    padding: 10px;
 }