
@use "sass:meta";
@use "colors";
@use "vars";
@use "classes";


@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Inter;
    src: url("/assets/fonts/Inter/Inter-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
}

/* DM SANS */
@import url("../../static/assets/fonts/DMSans/fonts.css");


@include meta.load-css("_styles");